<%= render "/shared/navbar" %>
<section id="breeds-index">
    <div id="bird-actions">
        <p><%= link_to("Add a Bird Listing", new_bird_path) %></p>
        <p><%= link_to("Record a New Breed", new_breed_path) %></p>
    </div>
    <% for breed in @breeds %>
        <div class="breed-listing">
            <p><%= link_to(breed.name, birds_path(breed.id)) %></p>
            <p><%= link_to(image_tag(breed.pic), birds_path(breed.id)) if breed.pic.attached? %></p>
        </div>
    <% end %>
</section>