<%= render "/shared/navbar" %>
<p><%= image_tag @cage.pic if @cage.pic.attached? %></p>
<ul>
    <li><%= @cage.name %></li>
    <button data-stripe="payment">Purchase: <%= number_to_currency(@cage.price / 100.00) %></button>
</ul>
<p><%= @cage.description %></p>

<script src="https://js.stripe.com/v3/"></script>
<script>
  document
    .querySelector("[data-stripe='payment']")
    .addEventListener("click", () => {
      const stripe = Stripe(
        "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
      );

      stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
      });
    });
</script>