<section id="navbar">
        <ul id="navbar-main">
            <li id="icon-menu">
                <% if current_user.pic.attached? %>
                    <p id="icon-image"><%= image_tag current_user.pic %></p>
                <% else %>
                    <p id="icon-image"><%= image_tag "admin_user_icon.png" %></p>
                <% end %>
                <input type="checkbox" id="menu-hidden-checkbox">
                <div id="menu-body">
                    <ul>
                        <li><%= link_to("Home", root_path) %></li>
                        <li><%= link_to("Bird Breeds", breeds_path) %></li>
                        <li><%= link_to("Snacks", snacks_path) %></li>
                        <li><%= link_to("Cages", cages_path) %></li>
                        <li><%= link_to("About Us", about_path) %></li>
                    </ul>
                </div>
            </li>
            <li id="logo">
                <p><span><%= link_to("Avian Menagerie", breeds_path) %></span></p>
            </li>                 
            <li id="logout">
                <%= link_to(image_tag("logout_door.PNG"), destroy_user_session_path, method: :delete, data: {confirm: "Logout?"}) %>
            </li>
            <!-- Flex goals
            <li id="cart"></li>
            <li id="search"></li>
            -->
        </ul>
        <!-- Only goes one page back then goes back to the original page...
        Seems unnecessary due to browser built-in back buttons...
        <div id="back-button">
            <p><%= link_to("(Back arrow)", :back) %></p>
        </div> -->
</section>