<section id="navbar">
        <ul id="navbar-main">
            <li id="icon-menu">
                <p>(User icon that pops out into a menu)</p>
                <input type="checkbox" id="menu-hidden-checkbox">
                <div id="menu-body">
                    <ul>
                        <li><%= link_to("Home", root_path) %></li>
                        <li><%= link_to("Bird Breeds", breeds_path) %></li>
                        <li><%= link_to("Snacks", snacks_path) %></li>
                        <li><%= link_to("Cages", cages_path) %></li>
                        <li><%= link_to("About Us", about_path) %></li>
                    </ul>
                </div>
            </li>
            <li id="logo">
                <p><span id="logo-text"><%= link_to("Avian Menagerie", breeds_path) %></span><span>(+ Bird hero image link)</span></p>
            </li>                 
            <li id="logout">
                <p>(Image of door that logs user out)</p>
            </li>
            <!-- Flex goals
            <li id="cart"></li>
            <li id="search"></li>
            -->
        </ul>
        <!-- Only goes one page back then goes back to the original page... -->
        <div id="back-button">
            <p><%= link_to("(Back arrow)", :back) %></p>
        </div>
</section>