<%= render "/shared/navbar" %>
<section id="birds-index">
    <% if @birds.empty? %>
        <h1>There are currently no birds of the <%= Breed.find(params[:breed_id]).name %> Breed for sale.</h1>
    <% else %>
        <h1>All <%= @breed_name %>'s</h1>
    <% end %>
    <% for bird in @birds %>
        <p><%= link_to(image_tag(bird.pic), bird_path(params[:breed_id], bird.id)) if bird.pic.attached? %></p>
        <h2 class="subtitle"><%= link_to(bird.name, bird_path(params[:breed_id], bird.id)) %></h2>   
    <% end %>
</section>